body{
    background-color:#5C0064;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

.table1  {
    color: white;
    border: 1px solid black;
    margin: 1em;
    padding: 20px;
    border-collapse: collapse;
    width: 85%;

}

.cart{
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: grey;
    
}

.message {
    font-size: 20px;
    color: red;
    background-color: yellow;
    
}

.table{
    color: white;
    border: 1px solid black;
    margin: 1em;
    padding: 20px;
    border-collapse: collapse;
}

.pizza{
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    
}

.pizzaTable{
    color: white;
    border: 1px solid black;
    margin: 1em;
    width: 95%;
    padding: 10px;
    border-collapse: collapse;
}

.tr{
    border: 1px solid black;
    margin: 1em;
    text-align: center;
    padding: 10px;
}

th, td{
  border: 1px solid black;
  margin: 1em;
  padding: 10px;
}


.logbtn {
    border-radius: 10px;
    border: 1px solid black;
    color: red;
    padding: 8px;
    background-color: yellow;
    font-size: 15px;
  }

.logbtn:hover,
.logbtn :focus{
    color: green;
}

  input {
    padding: 8px;
    color: black;
    border: 1px black;
  }

.paybtn {
    border-radius: 4px;
    color: red;
    font-size: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: yellow;
}
.paybtn:hover,
.paybtn :focus{
    color: green;
}


.Button {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    color: red;
    padding: 8px;
}

.Button:hover,
.Button :focus{
    color: purple
}

.Button:active{
    color: #5C0064;
}

.feature {
    border: 1px solid black;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    flex: 1;
    margin-bottom: 1rem;
    background-color: #FFD700;
}

.featuredBar {
    color: black;
}



@media(min-width: 860px) {
    .featuredBar {
        display: flex;
        
    }   

}


[x-cloak] { display: none !important; }